body {
  background: url(asset-path("laptop-background.jpg")) no-repeat;
  background-position: top center;
  font-size: 16px;
}
.text {
  padding-bottom: 10px;
}
a {
  color: #dd5566;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3.75em;
  color: #dd5566;
}
.pin-container {
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin {
  background-color: #fff;
  padding: 40px;
}
hr {
  clear: both;
}

.repin-button {
  background-color: #dd5566;
  color: white;
  font-size: 1em;
  padding: 10px 50px 10px 50px;
  font-weight: bold;
}

.repin-button:hover {
  background-color: white;
  color: #dd5566;
  border: solid 2px #dd5566;
  text-decoration: none;
}

/* FORM STYLES */

.form {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-col {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-label {
  margin-bottom: 0;
  font-size: 1.5em;
  padding: 0;
}

.form-field {
  height: 4em;
}

.button-col {
  padding: 0;
}

.button {
  background-color: #dd5566;
  border: #dd5566;
  font-size: 1.5em;
  color: white;
  padding: 10px 50px 10px 50px;
  margin-top: 20px;
  font-weight: bold;
}

#pin_category_id {
  background-color: white;
  height: 3.8em;
  width: 100%;
}

/* ----- end of FORM STYLES ----- */

/* ERROR STYLES */

.error {
  padding: 20px 20px 15px 20px;
  border: 1px solid red;
  background-color: #ffb3b3;
}

.error-label {
  font-size: 1.25em;
}

/* ----- end of ERROR STYLES ----- */
